.progress {
  display: flex;
  align-items: center;
  .step {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20px 0 20px 0;
    margin-bottom: 20px;
    opacity: 1;
    color: maroon;
    background: rgba(123, 90, 255, 0.5);
    flex-basis: 33%;

    span {
      text-align: center;
    }

    &.active {
      background: rgba(123, 90, 255, 1);
      span {
        opacity: 1;
        color: white;
        animation: fadeInOut 2s ease infinite;
      }
    }
    &.complete {
      background: rgba(123, 90, 255, 1);
      color: green;
    }
  }
}

.stage3 .orderCopy {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 30px;
  padding: 0;
  margin: 10px 0 25px 0;
  height: 100%;

  input {
    padding: 10px;
    
    margin-left: 10px;
  }
  small {
    color: #fff;
    background: #252525;
    border-radius: 5px;
    opacity: 0;
    margin-left: 15px;
    animation: fadeInOut 4s ease;
    position: absolute;
    right: -23px;
    bottom: -40px;
    padding: 6px;
  }
  svg {
    position: relative;
    margin-left: 10px;
    padding: 7.5px;
    border-radius: 5px;
    height: 38px;
    width: 38px;
    transition: background 0.3s ease;
    vertical-align: bottom;
    background: transparent;

    &:hover {
      background: rgba(123, 90, 255, .8);
      cursor: pointer;
    }
  }
}
@keyframes fadeInOut {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media screen and (max-width: 767px) {
  .progress {
    align-items: unset;
  }
  .stage3 .orderCopy input {
    margin: 0;
  }
}
