@mixin input-placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; } 
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-family: "Biryani", sans-serif;
  height: 100vh;
  background: #110a44;
  color: white;
  background-image: url('./images/stars.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;

  width: inherit;
  height: auto;
}

input {
  background: none;
  color: white;

  @include input-placeholder(){
    color: rgba(255,255,255,0.8);
  } 
}

span {
  color: white;
}
